@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Myriad Pro Regular";
  src: local("Myriad Pro Regular"), url("./../fonts/MyriadPro/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: local("Myriad Pro Regular"), url("./../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff");
}
header {
  display: flex;
  align-items: center;
  position: relative;
}
header .logo {
  background-color: #000;
  max-width: 310px;
  padding: 20px 30px;
  box-sizing: border-box;
}
header .logo img {
  max-width: 100%;
  width: 100%;
}
header .headerRightSec {
  max-width: 100%;
  width: 100%;
}
header .headerRightSec .hamburgerMenu {
  display: none;
}
header .headerRightSec .hamburgerMenu .mobileCart {
  margin-right: 20px;
  color: #000;
}
header .headerRightSec .topHeader {
  padding: 3px 20px;
  background-color: #ebebeb;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0px;
  top: 0px;
}
header .headerRightSec .topHeader p,
header .headerRightSec .topHeader .cartItems {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
header .headerRightSec .topHeader .cartItems {
  margin-left: 20px;
  text-transform: capitalize;
}
header .headerRightSec nav ul {
  margin-bottom: 0px;
}
header .headerRightSec nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  font-size: 12px;
  font-family: "Myriad Pro Regular";
}
header .headerRightSec nav ul li:last-child a {
  padding: 0px 9px;
}

.TopBanner {
  box-sizing: border-box;
}
.TopBanner .banner img {
  max-width: 100%;
  width: 100%;
}
.TopBanner .bannerTitle {
  margin-top: -45px;
}
.TopBanner .bannerTitle h1 {
  font-family: "ProximaNova-Bold";
  font-size: 35px;
}

.ourProducts {
  position: relative;
  margin: 80px 0px;
  background-color: #f7f7f7;
}
.ourProducts h2 {
  padding: 25px 0px;
  margin: 0px;
  text-align: center;
  font-family: "ProximaNova-Bold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ourProducts .productcardsWrapper .centerIcons {
  padding: 0px 5px;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50);
  max-width: 100%;
  width: 100%;
}
.ourProducts .productcardsWrapper .productcard img {
  max-width: 100%;
  width: 100%;
}
.ourProducts .productcardsWrapper .productcard .cardFooter {
  max-height: 70px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-family: "ProximaNova-Bold";
  font-size: 12px;
}
.ourProducts .productcardsWrapper .productcard .cardFooter p {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.ourProducts .productcardsWrapper .productcard .cardFooter button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  border: 0;
  padding: 0px;
  background-color: transparent;
  display: inline-block;
}

.latestNews h2 {
  padding-bottom: 80px;
  margin: 0px;
  text-align: center;
  font-family: "ProximaNova-Bold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.latestNews .newsCard {
  position: relative;
}
.latestNews .newsCard .counting {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  letter-spacing: 2px;
  position: absolute;
  left: -20px;
  top: -40px;
}
.latestNews .newsCard img {
  max-width: 100%;
  width: 100%;
}
.latestNews .newsCard .cardFooter {
  max-height: 70px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0px;
  font-family: "ProximaNova-Bold";
  font-size: 12px;
}
.latestNews .newsCard .cardFooter p {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.latestNews .newsCard .cardFooter button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  border: 0;
  padding: 0px;
  background-color: transparent;
  display: inline-block;
}

.newsLatter {
  margin-top: 80px;
  max-height: 300px;
  height: 380px;
  background-image: url(./../images/bg1.png);
  background-size: cover;
}
.newsLatter .rightSec {
  margin-left: auto;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.newsLatter .rightSec::after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
.newsLatter .rightSec .formWraooer {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.newsLatter .rightSec h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-family: "ProximaNova-Bold";
}
.newsLatter .rightSec p {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
.newsLatter .rightSec form .formGroup input {
  height: 30px;
  width: 200px;
  font-size: 12px;
  margin: 0px 5px;
  padding: 8px;
}
.newsLatter .rightSec form .text-right {
  text-align: right;
}
.newsLatter .rightSec form button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  border: 0;
  padding: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}

.footerNav nav ul {
  height: 80px;
}
.footerNav nav ul li {
  font-size: 12px;
}
.footerNav nav ul li span {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  margin: 0px 5px;
}
.footerNav nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  font-size: 12px;
  font-family: "Myriad Pro Regular";
}

footer {
  text-align: center;
  background-color: #000;
  padding: 14px 0px 12px 0px;
}
footer p {
  padding-bottom: 0px;
  color: #fff;
  font-size: 12px;
  font-family: "ProximaNova-Bold";
}
footer p span {
  margin: 0px 5px;
}

@media screen and (max-width: 850px) {
  .newsLatter .rightSec form .formGroup input {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .ourProducts .productcardsWrapper .centerIcons {
    display: none !important;
  }
  .newsLatter .rightSec form .text-right {
    text-align: center;
  }
  .newsLatter .rightSec form .formGroup {
    padding: 0px 10px;
  }
  .newsLatter .rightSec form .formGroup input {
    max-width: 90%;
  }
}
@media screen and (max-width: 600px) {
  header .logo {
    max-width: 100px;
    padding: 10px;
  }
  header .headerRightSec {
    position: relative;
  }
  header .headerRightSec .topHeader {
    display: none;
  }
  header .headerRightSec nav {
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  header .headerRightSec nav ul {
    flex-direction: column;
  }
  header .headerRightSec nav ul li {
    padding: 3px 0px;
  }
  header .headerRightSec .hamburgerMenu {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);
  }
  header .headerRightSec .hamburgerMenu i {
    font-size: 20px;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .TopBanner .bannerTitle h1 {
    font-size: 20px;
  }
  .latestNews .newsCard .counting {
    left: 0px;
  }
  .newsLatter .rightSec {
    width: 100%;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .TopBanner .bannerTitle {
    margin-top: -25px;
  }
}
@media screen and (max-width: 400px) {
  header .logo {
    max-width: 70px;
  }
}/*# sourceMappingURL=index.css.map */